body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  
  
  background-image: url("img/istockphoto-1340857923-1024x1024.jpg");
  
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed; 
}


  
  h1 {
    width: 260px;
    font-family: "Georgia", serif;
    font-size: 36px;
    line-height: 36px;
  }
  
  h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid #cccccc;
  }
  
  .site-header {
    margin-bottom: 30px;
  }
  
  .skills-item {
    margin-bottom: 15px;
    padding-left: 20px;
    border-left: 10px solid #c4c4c4;
    color: #999999;
  }
  
  .container {
    width: 480px;
    margin: 0 auto;
  }
  
  .site-header img {
    display: block;
    margin: 0 auto;
  }
  
  .features {
    margin-bottom: 30px;
  }
  
  .features p {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 5px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
  }
  
  .feature-kitten {
    padding-top: 60px;
    background-image: url("");
  }
  
  .feature-cat {
    padding-top: 60px;
    background-image: url("");
  }
  
  .feature-train {
    padding-top: 60px;
    background-image: url("");
  }
  
  .skills-list {
    padding: 0;
    list-style: none;
  }
  
  .site-footer {
    display: flex;
    justify-content: space-between;
    color: #999999;
  }  

  .wishes{
    margin-top: 30px;
    text-align: center;
  }
  #btn_love_wishes{
    background: #b9b271;
    color: #0f0c0c;
    border: 5px solid #af4545;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 36px;
    cursor: pointer;
  }
  #love_wishes{
    height: 150px;
    font-size: 28px; 
    line-height: 40px;
    color: #111010;
    text-align: justify;
  }

  .site-footer{
    margin-top: 30px;
    text-align: left;
  }

  #btn-buy-tablets{
    background: #b9b271;
    color: #0f0c0c;
    border: 5px solid #af4545;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
  }

  #count-of-tablets{
    background: #b9b271;
    color: #0f0c0c;
    border: 5px solid #af4545;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
  }
  